/* Article Blog */
.blog {
  --blog-padding: 1rem;
  background: var(--c-white);
  display: grid;
  grid-template-columns:
    minmax(var(--blog-padding), auto)
    var(--content-width)
    minmax(var(--blog-padding), auto);

  &__section,
  &__footer {
    grid-column: 2;
  }

  &__header {
    grid-column: 1 / 4;
    height: calc(100% - var(--header-height));
  }

  .hero-box {
    display: flex;
  }

  &__title-box {
    display: flex;
    justify-content: space-evenly;
    background: var(--c-pink-gradient);
    width: 20%;
  }

  &__title {
    font-size: 1.2rem;
    color: var(--c-white);
    white-space: nowrap;
    letter-spacing: 0.1rem;
    transform: rotate(270deg);
    align-self: center;
  }

  &__image {
    display: block;
    width: 80%;
    max-height: calc(
      100vh - var(--header-height) - 5rem
    ); // 5rem = height of .blog__description
    object-fit: cover;
  }

  &__description {
    color: var(--c-white);
    text-transform: uppercase;
    text-align: center;
    font-family: map-get($fonts, ff-header);
    font-weight: map-get($fonts, fw-normal);
    font-size: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--c-black);
    min-height: 5rem;
  }

  &__section {
    padding: 2rem 0;
    border-bottom: 1px solid var(--c-light-grey);
  }

  &__section-header {
    font-size: 1.4rem;
    margin: 1.5rem 0;
    color: var(--c-dark-grey);
    text-align: center;
  }

  &__content {
    text-align: justify;
  }

  &__footer-text {
    color: var(--c-medium-grey);
    font-size: 0.8rem;
  }

  &__footer-link {
    color: var(--c-medium-grey);
  }

  &__footer-link:hover {
    color: var(--c-pink);
  }

  @media screen and (min-width: map-get($mq, medium)) {
    --blog-padding: 2rem;

    &__title-box {
      width: 15%;
    }

    &__title {
      font-size: 1.4rem;
    }

    &__image {
      width: 85%;
    }
  }

  @media screen and (min-width: map-get($mq, large)) {
    --blog-padding: 4rem;

    &__title {
      font-size: 2.4rem;
    }
  }
}
