/* Aside */
.aside {
  --aside-padding: 1rem;
  background: var(--c-white);
  display: grid;
  grid-template-columns:
    minmax(var(--aside-padding), auto)
    minmax(288px, 1100px)
    minmax(var(--aside-padding), auto);

  &_header {
    grid-column: 2;
    font-family: map-get($fonts, ff-header);
    font-weight: map-get($fonts, fw-bold);
    font-size: 1.4rem;
    color: var(--c-black);
    text-align: center;
    margin: 1.8rem 0;
  }

  @media screen and (min-width: map-get($mq, medium)) {
    --aside-padding: 2rem;
  }

  @media screen and (min-width: map-get($mq, large)) {
    --aside-padding: 4rem;
  }
}
