/* Logo */
.logo {
  grid-column: 1;
  padding-left: 1rem;

  &__link {
    font-family: map-get($fonts, ff-header);
    font-weight: map-get($fonts, fw-normal);
    font-size: 1rem;
    text-decoration: none;
    color: var(--c-black);
  }

  &__link:hover {
    color: var(--c-pink);
  }

  @media screen and (min-width: map-get($mq, small)) {
    padding-left: 2rem;
  }
}
