/* Site navigation */
.navigation {
  grid-column: 2;
  justify-self: end;
  align-self: center;
  padding-right: 1rem;

  &__list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--c-white);
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    top: var(--header-height);
    right: 0;
    overflow: auto;
  }

  &__list--active {
    display: flex;
    flex-direction: column;
  }

  &__item {
    background: var(--c-white);
    border-bottom: 1px solid var(--c-light-grey);
  }

  &__item:hover {
    background: var(--c-pink);
  }

  &__item:first-child &__link {
    color: var(--c-medium-grey);
  }

  &__item:first-child:hover &__link {
    color: var(--c-white);
  }

  &__link {
    display: block;
    width: 100%;
    padding: 1rem;
    color: var(--c-black);
    text-align: center;
    text-decoration: none;
    font-family: map-get($fonts, ff-header);
    font-weight: map-get($fonts, fw-normal);
    line-height: 2;
  }

  &__link:hover {
    color: var(--c-white);
  }

  @media screen and (min-width: map-get($mq, small)) {
    padding-right: 2rem;
    &__item {
      width: 60%;
      align-self: center;
    }
  }

  @media screen and (min-width: map-get($mq, medium)) {
    &__list {
      width: 50%;
    }
    &__item {
      width: 80%;
    }
  }
}
